*{
    background-color: red;
    color: blue;
    font-size: 120px;
    border: 1px solid black;
} 
h1{
    color: cyan;
    font-size: large;
    border: 10px;
    font-weight: bolder ;
} 


p{
    color: crimson;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    border-top: 1px solid cyan;
}